html, body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

  h1 {
      font-size: 50px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: normal;
      text-align: center;
      color: white;
  }
  
  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
    color: white;
  }

  h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    font-weight: lighter;
    color:gray;
    text-align: center;
}

  p {
      text-align: center;
      color: aquamarine;
  }
  
  #footer {
      text-align: right;
      color: gray;
  }